{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<h4><em><small class="text-muted">Question {{question}}/{{totalQuestion}}</small></em></h4>

{%for quest in q%}
<p>{{quest.question}}</p>
{%endfor%}


<hr>
<br>

<form action="/categorie/{{categorie}}" method="get">
{%for reponse in reponses%}
<p></p>
<div class="d-grid gap-2">
<button type="submit" value="{{reponse.id}}-{{question}}" name="question" class="btn btn-success">{{reponse.reponse}}</button>
</div>
{%endfor%}
</form>
<br>
<p><small class="text-muted">Progression</small></p>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="10" style="width: {{question * 1}}0%;">{{question}}/{{totalQuestion}}</div>
</div>

<p><small class="text-muted">Score</small></p>
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: {{score * 1}}0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{score}}</div>
</div>

</div>
</div>

{% endblock %}
